.H4{
    font-family: var(--fuente-texto);
    border-bottom: 2px solid var(--color-bordes);
}
.contenedorTarjetas {
    margin: 0px;
    display: grid;
    justify-content: center;
    justify-items: center;
    
    width: 100%;
}

@media (min-width: 600px)  {
    .contenedorTarjetas {
        grid-template-columns: repeat(2, 1fr);
        gap: 2px 2px;
        
    }
}
@media (min-width: 1024px)  {
    .contenedorTarjetas {
        grid-template-columns: repeat(4, 1fr);
        gap: 2px 2px;
        
    }

}