.cuerpoTarjeta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-top: none;
    border-color: var(--color-bordes);
}

.fotoDePerfil{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

.imagenP{
    width: 100%;
}

.TituloDelHaiku{
    font-family: var(--fuente-texto);
    text-align: center;
    margin-left: 10px;
}

.icono{
    color: grey;
    font-size: 25px;
    margin-right: 10px;
}

.fotoYTituloH{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Haiku {
    position: absolute;  
    background-color: rgba(0, 0, 0, 0.4);
    padding-block: 150px;
    color: white;
}

.imagenYHaiku{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

