@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --rosa-oscuro: #ed6e8d;
  --rosa-claro: #f2a3b8;
  --rosa-search: #e0b9c3;
  --gris: #dcdcdc;

  --color-claro-buscador: rgba(255, 255, 255, 0.5);
  --color-fuente-buscador: white;
  --color-bordes: rgba(0, 0, 0, 0.1);
}

:root {
  --fuente-texto: "Roboto", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

